$productBorderColor: #f3f3f3;
$cardWidth: 200px;
$cardGapX: 48px;
$cardGapY: 50px;

.main-content {
  max-width: $cardWidth * 4 + $cardGapX * 3;

  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  grid-gap: $cardGapY $cardGapX;
  justify-content: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $cardWidth;
  padding: 30px 14px 15px;
  background: #fff;
  border: 1px solid $productBorderColor;
  border-radius: 5px;

  &__img {
    width: 160px;
    height: 134px;
    transition: transform 1s;

    &:hover {
      box-sizing: content-box;
      transform: scale(1.2);
      outline: 3px solid $productBorderColor;
      padding: 12px 2px;
      margin: -12px 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 45px;
    margin-bottom: 5px;
  }

  &__code {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__stars {
    height: 15px;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
  }

  &__total {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    background: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;

    &:hover {
      background: #fff;
      border: 1px solid #00acdc;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }

  &__btn-wrapper:hover .card__link {
    color: #00acdc;
  }
}

.stars {
  $starsBlock: &;
  display: flex;

  &__star {
    width: 15px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
    }

    @for $i from 1 through 5 {
      #{$starsBlock}--#{$i} &:nth-child(-n + #{$i}) {
        background-image: url(../images/star-active.svg);
      }
    }
  }
}
